# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite

# Package files
*.egg-info/
dist/
build/
